<div class="card text-center">
  <ul class="list-group mb-1">
    <div class="card-header">
      <li class="list-group-item active" style="background-color: #343A40;border-color: #343A40;">FİLTREYE GÖRE GETİR</li>
    </div>
  </ul>
  <div class="card-body">
    <app-brand></app-brand>
    <app-color></app-color>
  </div>
  <div class="card-footer text-muted d-flex justify-content-md-between">
    <button class="btn btn-primary" (click)="setRoute()">Filtrele</button>
    <button class="btn btn-danger" (click)="clearRoute()">Filtreyi Temizle</button>
  </div>
</div>
