<div class="content">
  <div class="col-md-12">
    <div class="card">

      <div class="card-header">
        <h5 class="title">Marka Ekle</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="brandaddForm">

          <div class="mb-3">
            <div class="form-group">
              <label for="brandName">Marka Adı</label>
              <input type="text" id="brandName" formControlName="brandName" class="form-control" placeholder="Marka Adı"/>
            </div>
          </div>

          <div class="card-footer">
            <button class="btn btn-fill btn-primary" (click)="addToBrand()">Ekle</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
