<div class="card mb-3" *ngFor ="let car of carDetails let i=index">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="wrapper">
        <h5>{{carDetails.length}}</h5>
        <img  
        src="https://localhost:44356/{{car.imagePath}}">
      </div>
      <!-- <div class="carousel-caption">
        <h3>First Slide</h3>
        <p> Angular 10 Carousel Example </p>
      </div> -->
    </ng-template>
  </ngb-carousel>

  <!-- <img class="card-img-top" src="https://localhost:44356/{{car.imagePath}}" alt="Card image cap"> -->
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text"><b>Bilgi:</b> {{car.description}}</p>
    <p class="card-text"><b>Marka:</b> {{car.brandName}}</p>
    <p class="card-text"><b>Renk:</b>{{car.colorName}}</p>
    <p class="card-text"><b>Yıl:</b>{{car.modelYear}}</p>
    <p class="card-text"><b>Fiyat:</b>{{car.dailyPrice}}</p>
    <a href="#" class="btn btn-primary">Rent</a>
 
    

</div>