<ngb-carousel>
  <ng-template ngbSlide *ngFor ="let car of carDetails">
      <div class="picsum-img-wrapper">
        <img  class="d-block w-100" style="width: 900px; height: 435px;" src="https://localhost:44356/{{car.imagePath}}" >
      </div>
  </ng-template>
</ngb-carousel>

<br>

<div class="card"*ngFor ="let car of carDetails; let i = index">
  <div class="card-body" *ngIf="i<1">
    <h5 class="card-title">{{car.brandName}} {{car.description}}</h5>
    <hr>
    <p class="card-text"><b>Marka:</b> {{car.brandName}}</p>
    <p class="card-text"><b>Model:</b> {{car.description}}</p>
    <p class="card-text"><b>Renk:</b>{{car.colorName}}</p>
    <p class="card-text"><b>Yıl:</b>{{car.modelYear}}</p>
    <p class="card-text"><b>Fiyat:</b> {{car.dailyPrice}} Türk Lirası</p>
    <a href="#" class="btn btn-primary">Kirala</a>
  </div>
</div>