<div class="row">
  <div class="col-75">
    <div class="container">
      <form [formGroup]="rentalForm" method="post">
        <div class="row">
          <div class="col-50">
            <h3>Fatura Adresi Bilgileri</h3>
            <label for="fname"><i class="fa fa-user"></i> Tam İsminiz</label>
            <input type="text" id="fname" name="firstname" placeholder="Furkan Paşaoğlu">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="furkan.pasaoglu@hotmail.com">
            <label for="adr"><i class="fa fa-address-card-o"></i> Adres</label>
            <input type="text" id="adr" name="address" placeholder="Kodlama.io">
            <label for="city"><i class="fa fa-institution"></i> Şehir</label>
            <input type="text" id="city" name="city" placeholder="Şehir">

            <div class="row">
              <div class="col-50">
                <label for="state">Sokak</label>
                <input type="text" id="state" name="state" placeholder="Sokak">
              </div>

            </div>
          </div>

          <div class="col-50">
            <h3>Kredi Kartı Bilgileri</h3>
            <label for="fname">Kabul Edilen Kart Tipleri</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Kart İsmi</label>
            <input type="text" formControlName="cardHolderName"
                   [(ngModel)]="fakeCreditCard.cardHolderName" id="cname"
                   name="cardname" placeholder="John More Doe">
            <div  class="alert alert-danger"
                  *ngIf="rentalForm.get('cardHolderName').hasError('required') &&
                  rentalForm.get('cardHolderName').dirty" >Kart Adı Zorunludur!</div>

            <label for="ccnum">Kredi Kartı Numarası</label>
            <input type="text" formControlName="cardNumber"
                   [(ngModel)]="fakeCreditCard.cardNumber" id="ccnum"
                   name="cardnumber" placeholder="1111222233334444">
            <div  class="alert alert-danger"
                  *ngIf="rentalForm.get('cardNumber').hasError('required') &&
                  rentalForm.get('cardNumber').dirty">Kart Numarası Zorunludur</div>

            <label for="expmonth">Ay</label>
            <input type="text" formControlName="expirationMonth"
                   [(ngModel)]="fakeCreditCard.expirationMonth" id="expmonth"
                   name="expmonth" placeholder="5">
            <div  class="alert alert-danger"
                  *ngIf="rentalForm.get('expirationMonth').hasError('required') &&
                  rentalForm.get('expirationMonth').dirty">Geçerlilik Ayı Boş Bırakılamaz</div>

            <div class="row">
              <div class="col-50">
                <label for="expyear">Yıl</label>
                <input type="text" formControlName="expirationYear"
                       [(ngModel)]="fakeCreditCard.expirationYear" id="expyear"
                       name="expyear" placeholder="2025">
                <div  class="alert alert-danger"
                      *ngIf="rentalForm.get('expirationYear').hasError('required') &&
                  rentalForm.get('expirationYear').dirty">Geçerlilik Yılı Boş Bırakılamaz</div>


              </div>
              <div class="col-50">
                <label for="cvv">Cv</label>
                <input type="text" formControlName="cvv"
                       [(ngModel)]="fakeCreditCard.cvv" id="cvv"
                       name="cvv" placeholder="352">
                <div  class="alert alert-danger"
                      *ngIf="rentalForm.get('cvv').hasError('required') &&
                  rentalForm.get('cvv').dirty">Cvv Boş Bırakılamaz</div>

              </div>
            </div>
          </div>

        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Kart Bilgilerimi Kaydet
        </label>
        <button (click)="addRental(rental, fakeCreditCard)" [disabled]="!rentalForm.valid"  data-toggle="modal" data-target="#exampleModal" class="btn">Ödemeyi Tamamla</button>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Kredi Kartınız</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Kredi Kartınızı Kaydetmek İstermisiniz
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hayır</button>
        <button type="button" (click)="addCreditCart(fakeCreditCard)" data-dismiss="modal" class="btn btn-primary">Evet</button>
      </div>
    </div>
  </div>
</div>
