<div class="d-flex" id="wrapper">
  <app-sidebar></app-sidebar>
  <div id="page-content-wrapper">
    <app-navbar></app-navbar>
    <div class="container-fluid">
      <br>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Üye Id</th>
          <th scope="col">Şirket Adı</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customers">
          <th scope="row">{{customer.id}}</th>
          <td>{{customer.userId}}</td>
          <td>{{customer.companyName}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
