<body class="text-center">

<main class="form-signin">
  <form [formGroup]="loginForm">
    <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>

    <div class="form-floating">
      <label for="floatingInput">E-Posta</label>
      <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    </div>
    <div class="form-floating">
      <label for="floatingPassword">Parola</label>
      <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Parola">
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button (click)="login()" class="w-100 btn btn-lg btn-primary">Giriş Yap</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>
</body>
