@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;

}

/* Category Ads */

#ads {
  margin: 30px 0 30px 0;

}

#ads .card-notify-badge {
  position: absolute;
  left: -10px;
  top: -20px;
  background: #f2d900;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: #000;
  padding: 5px 10px;
  font-size: 14px;

}

#ads .card-notify-year {
  position: absolute;
  right: -10px;
  top: -20px;
  background: #ff4444;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  width: 50px;
  height: 50px;
  padding: 15px 0 0 0;
}


#ads .card-detail-badge {
  margin-left: 2px;
  background: #e4f3f5;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: #000;
  padding: 5px 10px;
  font-size: 14px;
}


#ads .card:hover {
  background: #fff;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
  border-radius: 4px;
  transition: all 0.3s ease;
}

#ads .card-image-overlay {
  font-size: 20px;

}


#ads .card-image-overlay span {
  display: inline-block;
}
.button {
  background-color: #FF4345;
  border: none;
  color: #000;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 150px;
  height: 40px;
  padding: 5px 10px;

}
.button5 {border-radius: 80px;}

#ads .ad-btn {
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  border-radius: 80px;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  border: 3px solid #F2D903;
  display: block;
  text-decoration: none;
  margin: 20px auto 1px auto;
  color: #000;
  overflow: hidden;
  position: relative;
  background-color: #F2D903;
}

#ads .ad-btn:hover {
  background-color: #F2D903;
  color: #1e1717;
  border: 2px solid #F2D903;
  background: transparent;
  transition: all 0.3s ease;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}

#ads .ad-title h5 {
  text-transform: uppercase;
  font-size: 18px;
}

